body {
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
}

#controlet{
    
}

.card-action {
    padding: 5px 10px !important;
}

.new, .badge{
	background-color: #2196f3 !important;
}

.row{
	margin-bottom:0 !important;
}

.no-padding{
	padding:0 !important;
}


.searchBarPositioning{
	display:inline-block;
	float: right !important;
	margin:0;
}

#conceptsListBox{
	margin-top:3.5em;
}

#predicatesTabBox{
	width: 50%;
    margin: 0;
}

#openSparqlQuery{
    position: fixed;
    top: 2em;
    right: 2em;
}

#saveTable{
    position: fixed;
    top: 5em;
    right: 2em;
}

#removeButtonA{
	position: fixed;
    top: 8em;
    right: 2em;
}

.card-title{
	margin:0;
}

/*Cursor*/

div .card-action i{
	cursor: pointer;
}

.addToQuery:hover{
	font-weight: bold;
	cursor:pointer;
}

span.focusable{
	cursor:pointer;
}

/*Search bar*/

span.mySearch input {
  	border-bottom: none!important;
  	box-shadow: none!important;
  	margin: 0 !important;
}

span.mySearch {
	margin: 0 !important;
}

.input-field label:not(.label-icon).active{
	transform: translateY(-4px) scale(0.8);
}


.flex {
    display:flex;
}

#firstrow{
	align-items: stretch;
}

#firstrow .card{
	display:grid;
	flex-grow:1;
	position: relative !important;
    width: 100%;
    margin-bottom: 10px;
    height: auto !important;
}

#firstrow .firstrowAction{
    align-self: flex-end;
    margin-bottom: 0 !important;
}

#querySparql.card-content{
	overflow:auto;
}



/*Natural language query*/

div#queryBox{
	margin-top: 1em;
}

span.highlighted {
	background-color: #fff59d   ;
	border-radius: 4px;
}

span.highlightRemove {
 	text-decoration: line-through;
    text-decoration-color: #d32f2f;
}

#limitInput{
	width: 50px;
	margin-bottom: 0;
    border-bottom: none;
    height: auto;
}

#limitInput:not(.browser-default):focus:not([readonly]){
	box-shadow: none;
}

span.concept {
	color: #1de9ae;
	font-weight: bold;
}

span.predicate {
	color: #e91e63;
	font-weight: bold;
}

span.operator {
	border-bottom: 3px dashed #bdbdbd;
	font-weight: bold;
	/*text-decoration-line: underline;
    text-decoration-color: #bdbdbd;
    text-decoration-style: dashed;*/
}

span.reusableResult {
	color: grey;
	font-weight: bold;
}

span.barred {
	text-decoration-line: line-through;
}

span.optionalBlock{
	font-style: italic;
}

#queryNaturalLanguage, #queryNaturalLanguageFocus{
	overflow-x: auto;
}

#queryNaturalLanguage{
	padding-bottom:8px;
	padding-top:8px;
	height: 100px;
	font-size:14px;
}

#queryNaturalLanguage ul, #sparqlVsNl ul{
	padding-left: 0.8em;
	margin: 0;
}

#modalSparql{
	border-left-style: groove;
}

#removeButton {
	margin:0;
}

#removeButton:hover{
	cursor: pointer;
}

#queryNaturalLanguage span {
	/*padding:3px !important; to fix highlighting with ul*/
}

/*SPARQL query*/

div#querySparqlBox{
 	margin-top: 30px;
}

div#querySparqlText{
	 white-space: pre;
	 display:none;
	 overflow: auto;
}

div#modalSparql .SPARQLhighlighted{
	background-color: #e6e6e6;
	border-radius: 4px;
}

div#modalSparql, div#modalNaturalLanguage{
	height: -webkit-fill-available;
	overflow-y: auto; 
}

.modal{
	width: 90% !important;
	height: 90% !important;
}

#sparqlVsNl .modal-content{
	overflow:hidden;
	padding-right: 0px;
    padding-bottom: 14px;
}

/*Left bar*/

/*#myTabs {
	display: table-cell;
	border-right: 4px solid #1de9ae;
}


#myTabs li{
	border-bottom: 1px solid #ddd;
	padding: 0;
}
*/

#myTabs>li.indicator{
	display:none;
}

#myTabs li .mySpinner{
	height: 1em;
	width: 1em;
}

#myTabs li #conceptsSpinner .spinner-layer{
	border-color: #039c87;
}

#myTabs li #predicatesSpinner .spinner-layer{
	border-color: #880e4f;
} 

#myTabs li #operatorsSpinner .spinner-layer{
	border-color: #757575;
} 

#myTabs li #tableResultSpinner .spinner-layer{
	border-color: #01579b;
} 

.tabs #conceptsTab a:hover,
.tabs #conceptsTab a.active{
	background-color: #1de9ae;
	color: white;
}

.tabs #conceptsTab a{
	color:#1de9ae;
}

.tabs #predicatesTab a:hover,
.tabs #predicatesTab a.active{
	background-color: #e91e63 ;
	color: white;
}

.tabs #predicatesTab a{
	color:#e91e63;
}

.tabs #operatorsTab a:hover,
.tabs #operatorsTab a.active{
	background-color: #bdbdbd;
	color: white;
}

.tabs #operatorsTab a{
	color:#bdbdbd;
}

.tabs #tableResultTab a:hover,
.tabs #tableResultTab a.active{
	background-color: #2196f3;
	color: white;
}

.tabs #tableResultTab a{
	color:#2196f3;
}

.tabs #settingsTab a:hover,
.tabs #settingsTab a.active{
	background-color: #2196f3;
	color: white;
}

.tabs #settingsTab a,
.tabs #settingsTab a i{
	color:#2196f3;
}

.tabs #settingsTab a:hover i,
.tabs #settingsTab a.active i{
	color: white;
}

.tabs #helpTab a:hover,
.tabs #helpTab a.active{
	background-color: #2196f3;
	color: white;
}

.tabs #helpTab a,
.tabs #helpTab a i{
	color:#2196f3;
}

.tabs #helpTab a:hover i,
.tabs #helpTab a.active i{
	color: white;
}

/*#navBar{
	padding-left: 0;
    padding-right: 0;
    background-color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
} */
#fieldsCollectionNavBar{
	padding-left: 0;
    padding-right: 0;
    background-color: white;
}

#fieldsCollection:empty{
	display: none;
}

ul#fieldsCollection {
	margin-top:0;
}

#previewTableResult td, #previewTableResult th{
	padding:0;
}

#previewTableResult hr{
	margin:0;
	border-width: 0.5px;
}

#previewTableResult tr{
	height: 2px;
}

#previewTableResult th{
	font-size: 4px;
  	text-align: -webkit-center;
  	color:grey;
}

/*Concepts box*/
div#conceptsBox{
	margin:0;
    overflow: auto;
    height: calc(100vh - 16em);
}

div#conceptsListBox {
    border-radius:2px;
    /*background-color:#f5f5f5; */
}

div#conceptsBox .card-action{
	background-color:#1de9ae;
}

#conceptsBox .card-title{
	color: #69f0ae;
}

#conceptsListBox ul{
	border : none;
	margin:auto;
}

#conceptsBox li.withMargin {
	margin-top:0.2em !important;

	-webkit-box-shadow: 0 0px 0.5px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 1px 0px -0.2px rgba(0,0,0,0.2);
	box-shadow: 0 0px 0.5px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 1px 0px -0.2px rgba(0,0,0,0.2);
}

#conceptsBox .collection .collection-item:last-child{
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1px;
}

i.conceptInfo{
	color: #1de9ae;
	cursor: pointer;
}

#hierarchySpan{
	background-color: #1de9ae;
	position:absolute;
	left: 0.5em;
    top: 1em;
}



/*Predicates box*/
div#predicatesBox{
	margin:0;
	overflow: auto;
    height: calc(100vh - 16em);
}

div#predicatesListBox {
    overflow: auto;
}

#predicatesBox .tabs .tab a, #predicatesBox .tabs .tab a:hover, #predicatesBox .tabs .tab a.active{
	color: #e91e63;
}

#predicatesBox .indicator{
	background-color: #e91e63;
}

#predicatesBox .card-title{
	color: #e91e63;
}

div#predicatesBox .card-action{
	background-color:#e91e63;
}

i.predicateInfo{
	color: #e91e63;
	cursor: pointer;
}



/*Operators box*/
div#operatorsBox{
	margin:0;
	overflow: auto;
    height: calc(100vh - 16em);
}

div#contentOperatorBox{
	
 }

#operatorsBox .card-title{
	color: #bdbdbd;
}

div#operatorsBox .card-action{
	background-color:#bdbdbd;
}

#pendingQuerySpan .active{
	color: #2196f3; 
	font-weight: bold;
}

input.userValue{
	border-bottom: 1px solid #9e9e9e !important;
}

#rowUserValue{
	margin-bottom: 0;
}

i#userValueButton{
	float: right;
	margin-top: 2rem;
	cursor: pointer;
}

div#operatorsBox ul:empty{
	display: none;
}

li.operatorListSeparator{
	border-bottom-color: #9e9e9e !important;
}



/*Table results*/

#tableResultBox{
	overflow: auto;
	margin-top: 0;
	margin-bottom:0;
    height: calc(100vh - 16em);
}

#tableResultBox .card-action{
	background-color: #2196f3;
}

#visibleFieldsButton{
	background-color: #2196f3;
	position:absolute;
	left: 0.5em;
    top: 1em;
}

img.imgResult {
	height: 10px;
}

.scrollableTableContent thead tr:after{
	display : block;
	width:100%;
	overflow-y: scroll;
	visibility:hidden;
	height:0;
}
.scrollableTableContent thead th{
	flex:1;
	display:block;
}
.scrollableTableContent tbody{
	display : block;
	height: calc(100vh - 18.5em);
	overflow-y: auto;
	width:100%;
}
.scrollableTableContent tr{
	width:100%;
	display:flex;	
}
.scrollableTableContent td{
	flex:1;
}

/*Settings Box*/
div#settingsBox{
	margin:0;
	overflow: auto;
    height: calc(100vh - 16em);
}

#settingsBox .card-action{
	background-color: #2196f3;
}

/*Help Box*/
div#helpBox{
	margin:0;
	overflow: auto;
    height: calc(100vh - 16em);
}

#helpBox .card-action{
	background-color: #2196f3;
}

#helpBox .carousel-slider{
	height: 190px !important;
}

#helpBox .carousel-item{
	background-color: white;
}
#helpBox .left-align, #helpBox .right-align{
	cursor: pointer;
	top: 0;
}

#helpBox .right-align{
	margin-left: 50%;
}
/*
.carousel .indicators .indicator-item.active{
	background-color: #2196f3;
}

.carousel .indicators .indicator-item{
	background-color: rgba(33,150,243,0.5);
}

.carousel .indicators{
}*/

.carousel.carousel-slider .carousel-item{
	padding-left:9%;
	padding-right:9%;
	width: 100%;
	height: 10em;
}

/*

#overlay{
	height: -webkit-fill-available;
	width: -webkit-fill-available;
    background-color: black;
    z-index: 10;
    position: fixed;
    opacity: 0.3;
}*/

