<style>
    .floatbox_header{
        display: none;
    }
	.floatbox_body{
		overflow:hidden;
	}
    .floatbox_bottom{
        display: none;
    }
</style>

<div id="skeleton_floatbox_content" style="width:100%;height:100%">
    <div style="width:100%;height:100%">
		<iframe width="100%" height="100%" src="http://localhost"></iframe>
	</div>

    <!--<div class='ow_right'>
        <input type="button" name="close_button" id="close_button" value="{text key='skeleton+floatbox_close'}" />
    </div>-->
</div>

